
.meetingCard{
  display: block;
  font-family: 'stencil';
  font-weight: bold;
    width: 45vw;
    height: 27vh;
    margin-bottom: 3vh;
    border: 2px solid #42392c;
    background-color: #5c52447a;
    color: #ffffff;
  }

  hr, h3{
    color: #42392c;
    font-weight: bold;;
  }

  button{
    background-color: #5c5244;
    border: 2px solid #42392c;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    margin-top: 1vh;
    padding: 0.4vw 1.5vw;

    &:hover{
      background-color: #7c2f49;
      border-color: #ffffff;
      text-decoration: none;
    }
  }