.homePage{
   // background-image: url("C:/yafit/GRTH/MeetAndMatch/GRTHProject/app/components/HomePage/homePageBackground.png");
    height: 43vh;
    z-index: 10;
}

img{
    width: 10%;
    height: 10%;
    z-index: -1;
}
