
.meetingCard{
  font-family: 'stencil';
  font-weight: bold;
    width: 45vw;
    height: 20vh;
    margin: 3vh;
    border: 2px solid #42392c;
    background-color: #5c52447a;
    color: #ffffff;
  }

  h3{
    color: #42392c;
  }